<!DOCTYPE html>
<html>
        <head>
                <title>Hooli XYZ | Add User</title>
                <link rel="stylesheet" href="/css/login.css">
        </head>
        <body background="/img/1.jpeg" style="background-size:cover" contextmenu="return false">
                <h1>
                        <center><img src="/img/logo.gif" style="width:40px"></center>
                        <center>Hooli XYZ</center>
                </h1>
                <h2>
                        <center>Create an Account:</center>
                </h2>
          <br>
                <center>
                <form>
				Enter a user name: &nbsp; 
                                <input id="username" class="form-input" type="email" placeholder="username">
				<br> Enter a password: &nbsp; &nbsp;
                                <input id="password" class="form-input" type="password" placeholder="password">
				<br>Confirm Password: &nbsp;
				<input id="confirm password" class="form-input" type="confirm password" placeholder="confirm password"><br>
                                <button id="signUp">Sign Up</button>
                </form>
                </center>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                <script src="/scripts/login.js" type="text/javascript"></script>
         </body>
</html>
