<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hooli XYZ | Home</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div class="header">
      <h3 class="title"> HooliXYZ</h3>
      <div class="menu">
        <ul>
          <li><a href="#">Upload</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <h1>Directory Contents</h1>
      <table>
        <thead>
          <tr>
            <th class="topRow">Filename</th>
            <th class="topRow">Type</th>
            <th class="topRow">Size</th>
            <th class="topRow">Date Modified</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><img src= images/file.png> Bruh.txt</th>
            <th>TXT</th>
            <th>916Kbs</th>
            <th>6/16/18</th>
          </tr>
          <tr>
            <th><img src= images/script.png>  ImTrash.html</th>
            <th>HTML</th>
            <th>2.3Mb</th>
            <th>5/25/18</th>
          </tr>
          <tr>
            <th><img src= images/image.png>  NeedAnA.png</th>
            <th>PNG</th>
            <th>1.7Mb</th>
            <th>4/23/17</th>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/scripts/index.js"></script>
  </body>
</html>
