<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Form</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h2>This is a sample form.</h2><br>
      <form>
        <div class="form-group">
          <label for="email1" class="font-weight-bold">Email address</label>
          <input type="email" class="form-control" id="email1" placeholder="Enter email"><br>
          <label for="pass1" class="font-weight-bold">Password</label>
          <input type="password" class="form-control" id="pass1" placeholder="Password"><br>
        </div>
        <p class="font-weight-bold">Favorite Activities:<p>
        <div class="form-check-inline">
          <input type="checkbox" class="form-check-input" id="act1">
          <label class="form-check-label" for="act1">Activity 1</label>
        </div>
        <div class="form-check-inline">
          <input type="checkbox" class="form-check-input" id="act2">
          <label class="form-check-label" for="act2">Activity 2</label>
        </div>
        <div class="form-check-inline">
          <input type="checkbox" class="form-check-input" id="act3">
          <label class="form-check-label" for="act3">Activity 3</label>
        </div><br><br>
        <p class="font-weight-bold">Gender:<p>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="radio1" checked>
          <label class="form-check-label" for="radio1">Male</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="radio2">
          <label class="form-check-label" for="radio2">Female</label>
        </div><br>
        <p class="font-weight-bold">Friends:<p>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Click here to view friends list
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Friend 1</a>
            <a class="dropdown-item" href="#">Friend 2</a>
            <a class="dropdown-item" href="#">Friend 3</a>
          </div>
        </div><br>
        <div class="form-group">
          <label for="textarea1">Additional Information</label>
          <textarea class="form-control" id="textarea1" rows="2"></textarea>
        </div>
        <button class="btn btn-success">Submit</button>
      </form>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
