<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="loginpage.css">
</div> 
</head>
<header>
	<h1>
		<center> <img src="logo.gif" style="width:40px"></center>
		<center>Hooli XYZ</center>
	</h1>
	<h2>
		<center>Enter Login Information:</center>
	</h2>
	</header>
<body>
		 <body background="1.jpeg">       
     <body contextmenu="return false">
        <div class= "grad"></div>
        <br>
     <form name="login">
        <div class = "login">
           <center><input type = "text" placeholder = "username" name = "userid" style="width:200px"><br></center>
           <center><input type = "password" placeholder = "password" name = "pswrd" style="width:200px"><br></center>
           <center><input type = "button" onclick = "check(this.form)" value = "Login"><br></center>
        </div>
     </form>
     <script language="javascript">
     function check(form)
     {
        if(form.userid.value == "Andres" && form.pswrd.value == "123"){
           location.href = "http://google.com";
        }
        else if(form.userid.value == "Peter" && form.pswrd.value == "456"){
           location.href = "http://youtube.com";
        }
        else
        {
           alert("Username or password does not exist.")
        }
     }
     </script>
</body>
</body>
</html>