<!DOCTYPE HTML>
<html>
	<head>
		<title>Hooli | Login</title>
	</head>
	<body background="1.jpeg">
		<h1>
			<center> <img src="logo.gif" style="width:40px"></center>
			<center>Hooli XYZ</center>
		</h1>
		<h2>
			Enter Login Information:
		</h2>
		<div id="loginID" class="loginClass">
			<form>
				<label for="email">
					Login Email:
				</label>
				<input class="text" id="username" name="email" type="email" size="25"><br>
				<label for="password">
					Password:
				</label>
				<input class="text" id="password" name="password" type="password" size="25"><br>
				<button class="btn-submit" id="login">Log In</button>
				<button class="btn-submit" id="signUp">Sign Up</button>
			</form>
  	</div>
	</body>
</html>
