* {
	padding:0;
	margin:0;
}

body {
	color: #333;
	font: 14px Sans-Serif;
	padding: 50px;
	background: black;
}

.header {
	height: 50px;
	padding-bottom: 10px;
	font-size: 75%;
	width: 100%
}

.title {
	float: left;
	font-size: 175%;
	padding: 0px 10px;
	color: yellow;

}

.menu {
	float: right;
}

.menu ul li {
	display: inline-block;
	padding: 0px 10px;
	font-size: 175%;

}

.menu ul li a {
	color: yellow;
	text-decoration: none;
}


h1 {
	text-align: center;
	padding: 20px 0 12px 0;
	margin: 0;
	color: yellow;
}
h2 {
	font-size: 16px;
	text-align: center;
	padding: 0 0 12px 0;
}

.container {
	max-width: 50%;
    margin: auto;
	box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
	position: relative;
	background: black;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin: 15px 0;
	background: black;
}

thead {
	background-color: yellow;
}

img {
	float: left;
}

.topRow {
	color:black;
}

th {
	text-align: left;
	color: yellow;
	cursor: pointer;
	padding: 5px 10px;
	text-align: center;
}

th small {
	font-size: 9px;
}



a {
	text-decoration: none;
}

td a {
	color: black;
	display: block;
	padding: 5px 10px;
}
th a {
	padding-left: 0
}
