    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    .row.content {height: 450px}
    
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
	
	.center-div {
		     margin: 0 auto;
     width: 60%;
	}

    
    footer {
    position: fixed;
   	left: 0;
   	bottom: 0;
   	width: 100%;
      background-color: #555;
      color: white;
      padding: 15px;

    }
    
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

ul {
	list-style-type:none;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.button {
    
    border: 2px solid-black;
    color: solid-gray;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    background-color: solid-black;
    width: 100%; 
}
